<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>人员配置</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="keywords" content="活动管理">
  <meta name="description" content="活动管理详情">
  <meta name="author" content="yinqi">
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="static/css/style.min.css" rel="stylesheet">
</head>

<body>
  <h1>人员配置</h1>
</body>

</html>