<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>奖项设置</title>
  <link rel="icon" href="favicon.ico" type="image/ico" />
  <meta name="keywords" content="抽奖活动后台-奖项设置" />
  <meta name="description" content="基于LightYear的后台管理模板，实现奖项管理" />
  <meta name="author" content="yinqi" />
  <link href="static/js/bootstrap-table/bootstrap-table.min.css" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/materialdesignicons.min.css" rel="stylesheet" />
  <!--日期选择插件-->
  <link rel="stylesheet" href="static/js/bootstrap-datepicker/bootstrap-datepicker3.min.css" />
  <link rel="stylesheet" href="static/js/bootstrap-daterangepicker/daterangepicker.css" />

  <link href="static/css/style.min.css" rel="stylesheet" />
  <style>
    @media (max-width: 575.98px) {
      .card-toolbar .form-inline {
        display: block;
      }
    }

    .input-group-addon {
      min-width: 30px;
    }
  </style>
</head>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="static/js/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="static/js/layer/layer.min.js"></script>

<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<!--时间范围选择插件-->
<script src="static/js/bootstrap-datetimepicker/moment.min.js"></script>
<script src="static/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script src="static/js/bootstrap-datetimepicker/locale/zh-cn.js"></script>

<script type="text/javascript" src="static/js/bootstrap-daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="static/js/main.min.js"></script>
<script>
  $(function () {
    $("#datetimes").daterangepicker({
        timePicker: true, //显示时间
        timePicker24Hour: true, //时间制
        timePickerSeconds: true, //时间显示到秒
        startDate: moment().hours(0).minutes(0).seconds(0), //设置开始日期
        endDate: moment(new Date()), //设置结束器日期
        maxDate: moment(new Date()), //设置最大日期
        separator: "至",
        opens: "center",
        ranges: {
          // '今天': [moment(), moment()],
          昨天: [moment().subtract(1, "days"), moment().subtract(1, "days")],
          上周: [moment().subtract(6, "days"), moment()],
          前30天: [moment().subtract(29, "days"), moment()],
          本月: [moment().startOf("month"), moment().endOf("month")],
          上月: [
            moment().subtract(1, "month").startOf("month"),
            moment().subtract(1, "month").endOf("month"),
          ],
        },
        showWeekNumbers: true,
        locale: {
          format: "YYYY-MM-DD HH:mm:ss", //设置显示格式
          separator: " 至 ",
          applyLabel: "确定", //确定按钮文本
          cancelLabel: "取消", //取消按钮文本
          customRangeLabel: "自定义",
          daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
          monthNames: [
            "一月",
            "二月",
            "三月",
            "四月",
            "五月",
            "六月",
            "七月",
            "八月",
            "九月",
            "十月",
            "十一月",
            "十二月",
          ],
          firstDay: 1,
        },
      },
      function (start, end, label) {
        timeRangeChange = [
          start.format("YYYY-MM-DD HH:mm:ss"),
          end.format("YYYY-MM-DD HH:mm:ss"),
        ];
        console.log("111" + timeRangeChange);
      }
    );

    //模态框开始和结束时间的时间选择器
    $('input[name="dateTimePicker"]')
      .datetimepicker({
        format: "yyyy-mm-dd hh:li:00",
        language: "zh_CN",
        autoclose: true,
        minView: "hour",
        maxView: "decade",
        todayBtn: "linked",
        pickPosition: "top-left",
        linkField: "mirror_field",
      })
      .on("click", function () {});

    $("#searchButton").on("click", function () {
      // 事件处理代码
      searchList();
    });

    $("#addButton").on("click", function () {
      $("#add_code_d").hide();
      $("#add_status_d").hide();
      $("#add_id").val("");
      $("#add_startTime").val("");
      $("#add_endTime").val("");
    });

    $("#mode-cancel").on("click", function () {
      searchList()
    });

    $("#mode-confirm").on("click", function () {
      searchList()
    });

    $("#add-prize-btn").on("click", function () {
      //$("#mymode2").css("backgroundcolor", "balck")



    });




    //模态框关闭清空校验css、表单重置
    $("#myModal2").on("hidden.bs.modal", function () {
      $("#prizeAddForm").data("bootstrapValidator").destroy();
      $("#prizeAddForm").data("bootstrapValidator", null);
      $("#prizeAddForm")[0].reset();
      addValidator();
    });

    //新增校验逻辑
    addValidator();
    //初始化查询结果
    $("#datetimes").val("");


    //多层模态框的展示问题
    $(document).on('show.bs.modal', '.modal', function (event) {
      $(this).appendTo($('body'));
    }).on('shown.bs.modal', '.modal.in', function (event) {
      setModalsAndBackdropsOrder();
    }).on('hidden.bs.modal', '.modal', function (event) {
      setModalsAndBackdropsOrder();
    });
    searchList();
  });


  function addValidator() {
    $("#prizeAddForm")
      .bootstrapValidator({
        excluded: [":disabled"],
        message: "该值无效",
        feedbackIcons: {
          valid: "mdi mdi-check",
          invalid: "mdi mdi-close",
          validating: "mdi mdi-refresh",
        },
        fields: {
          add_prize_name: {
            message: "奖项名称不合法",
            validators: {
              notEmpty: {
                message: "奖项名称不能为空",
              },
              stringLength: {
                max: 24,
                message: "奖项名称不能超过24字符",
              },
            },
          },

          add_prize_num: {
            message: "抽奖人数不合法",
            validators: {
              notEmpty: {
                message: "抽奖人数不能为空",
              },

              digits: {
                message: '抽奖人数为数字'
              },
              greaterThan: {
                value: 1,
                message: '抽奖人数需要大于1'
              },
            },
          },
        },
      })
      .on("success.form.bv", function (e) {
        //新增或者编辑校验成功
        e.preventDefault();
        saveOrUpdate();
      });
  }

  function searchList() {
    $("#activityTable").bootstrapTable("destroy");
    $("#activityTable").bootstrapTable({
      method: "POST",
      dataType: "json",
      url: basePath + "/admin/api/prize/list",
      sidePagination: "server", //服务器分页
      striped: true, //隔行换色

      clickToSelect: false, //选择行即选择checkbox
      singleSelect: false, //可以手动选择多行
      pagination: true, //启用分页
      pageSize: 10, //每页行数
      pageNumber: 1, //起始页
      pageList: [10, 20, 50, 100], //可供选择的每页的行数
      escape: true, //过滤危险字符
      ajaxOptions: {
        headers: {
          Authorization: authorization,
          "Content-Type": "application/json",
        },
      },
      queryParamsType: "",
      queryParams: getParams, //携带参数
      rowStyle: function (row, index) { // 动态修改行的颜色
        if (index % 2 == 1) {
          return {
            css: {
              "background-color": '#DFF0D8'
            }
          }
        } else {
          return {
            css: {
              "background-color": '#FFFFFF'
            }
          }
        }
      },
      responseHandler: function (res) {
        if (res.code != 200) {
          layer.alert(res.msg, {
            icon: "error",
            skin: "lyear-skin-danger",
            title: "错误提示",
            closeBtn: 1,
            btn: ["确定", "取消"],
            yes: function (index, layero) {
              layer.close(index);
              if (Number(res.code) === -400100) {
                console.info("code3: " + res.code);
                top.location.href = basePath + "/login";
              }
            },
            cancle: function (index, layero) {
              layer.close(index);
            },
          });
        }

        // 对返回参数进行处理
        return {
          total: res.count,
          rows: res.data,
        };
      },

      columns: [{
          checkbox: true,
        },

        {
          title: "序号",
          field: "",
          align: "center",
          formatter: function (value, row, index) {
            return index + 1;
          },
        },
        {
          title: "编码",
          field: "code",
          align: "center",
          valign: "middle",
        },
        {
          title: "活动标题",
          field: "title",
          align: "center",
          valign: "middle",
        },

        {
          title: "奖项列表",
          field: "prizeDetails",
          align: "center",
          valign: "middle",
          formatter: function (value, row, index) {
            var html = "<p><span>-</span></p>"
            if (value.length > 0) {
              html = ""
              for (var i = 0; i < value.length; i++) {
                html += '<p><span class=\"label label-outline-danger\">' + value[i].name + '</span></p>'
              }
            }
            return html
          }
        },

        {
          title: "操作",
          field: "id",
          align: "center",
          valign: "middle",
          formatter: function (value, row, index) {
            var editHtml = '<a class="btn btn-xs btn-primary" href="#!" onclick=editAndLook(' + JSON.stringify(
                row).replace(/\"/g, "'") + ',' + '0)' +
              ' title="编辑" data-toggle="modal" data-target="#myModal" ><i class="mdi mdi-pencil">编辑</i></a>&nbsp';

            var lookHtml = '<a class="btn btn-xs btn-danger" href="#!" onclick=clearPrize(' + JSON.stringify(
                row).replace(/\"/g, "'") + ')' +
              ' title="清空奖项" ><i class="mdi mdi-close">清空奖项</i></a>&nbsp';
            var resultHtml = editHtml + lookHtml;
            return resultHtml;
          },
        },
      ],
      onLoadSuccess: function () {},

      onLoadError: function (response) {
        layer.alert("系统错误", {
          icon: "error",
          skin: "lyear-skin-danger",
        });
      },
    });
  }

  //默认加载时携带参数
  function getParams(parm) {
    var data = {
      limit: parm.pageSize,
      pageSize: parm.pageNumber,
      code: $("#code").val(),
      prizeName: $("#prizeName").val()
    };

    return JSON.stringify(data);
  }

  function clearPrize(rowValue) {
    if (rowValue.prizeDetails.length > 0) {
      var arrays = [rowValue.prizeDetails.length]
      for (var i = 0; i < rowValue.prizeDetails.length; i++) {
        arrays.push(rowValue.prizeDetails[i].id)
      }
      var flag = deleteIds(arrays, 0)
      console.info("清空结果： " + flag)
      if (flag) {
        console.info("清空成功")
      }
    } else {
      layer.alert("奖项未设置，不需要删除", {
        icon: "danger",
        skin: "lyear-skin-danger",
        title: "删除提示",
        closeBtn: 1,
        btn: ["确定", "取消"],
        yes: function (index, layero) {
          layer.close(index);
          searchList();
        },
        cancle: function (index, layero) {
          layer.close(index);
        },
      });

    }

  }


  function deletePrizeOne(id, trIndex) {
    var idArray = []
    idArray.push(id)
    var flag = deleteIds(idArray, 1)

  }

  function editAndLook(value, type) {
    console.info("编辑行信息: " + JSON.stringify(value))

    //需要模态框传值
    $("#mod-ac-title").text(value.title)
    $("#mod-ac-code").text(value.code)
    var statusText = ""
    var statusCss = ""

    if (value.status == 1) {
      statusText = "未开始"
      statusCss = "label label-outline-default"
    } else if (value.status == 2) {
      statusText = "进行中"
      statusCss = "label label-outline-success"
    } else if (value.status == 3) {
      statusText = "已结束"
      statusCss = "label label-outline-warning"
    }

    $("#mod-ac-status").text(statusText)
    $("#mod-ac-status").attr("class", statusCss);
    $("#mod-ac-createTime").text(value.startTime)
    $("#add_ac_id").val(value.id)
    //奖项动态添加到body里面
    if (value.prizeDetails.length > 0) {
      resizePrizeTable(value.prizeDetails)
    }

  }


  function resizePrizeTable(prizeDetails) {
    $("#mod-prize-table tbody").html("")
    for (var i = 0; i < prizeDetails.length; i++) {
      var detail = prizeDetails[i]
      var newRow = $('<tr id="prize-table-tr' + detail.id + '">');
      $('<td>').text(i + 1).appendTo(newRow);
      $('<td>').text(detail.name).appendTo(newRow);
      $('<td>').text("iphone 16 pro max").appendTo(newRow);
      $('<td>').text(detail.prizeNum).appendTo(newRow);
      var flag = detail.isRepeat == 0 ? "" : "switch-success";
      var flagHtml = '<label class="lyear-switch switch-solid ' + flag + '">' +
        '<input type="checkbox" checked="" disabled>' +
        '<span></span>' +
        '</label>';
      $('<td>').html(flagHtml).appendTo(newRow);
      $('<td>').html(
        "<a href=\"#!\" class=\"btn btn-xs btn-primary\"><i class=\"mdi mdi-pencil\">编辑</i></a> <a href=\"#!\" onclick=deletePrizeOne(" +
        detail.id + ") class=\"btn btn-xs btn-danger\"><i class=\"mdi mdi-close\">删除</i></a>"
      ).appendTo(newRow);
      $("#mod-prize-table tbody").append(newRow)
    }

  }

  function saveOrUpdate() {
    var param = {
      acId: Number($("#add_ac_id").val()),
      prizeName: $("#add_prize_name").val(),
      prizeNum: Number($("#add_prize_num").val())
    }
    if ($("#add_prize_repeat").val() == "on") {
      param.isRepeat = 1
    } else {
      param.isRepeat = 0
    }
    if ($("#add_prize_id").val() != "") {
      param.id = Number($("#add_prize_id").val())
    } else {
      param.id = -1
    }
    var itm_code = $("#add_prize_item_code").val()
    param.itemCode = itm_code

    console.info("新增请求参数： " + JSON.stringify(param))
    doSaveOrUpdate(param)
  }


  function doSaveOrUpdate(param) {
    $.ajax({
      type: "POST",
      url: basePath + "/admin/api/prize/addAndUpdate",
      data: JSON.stringify(param),
      contentType: "application/json",
      headers: {
        Authorization: authorization,
        "Content-Type": "application/json",
      },
      success: function (response) {
        var successAlert = param.id == -1 ? "新增成功" : "修改成功"
        var successTitle = param.id == -1 ? "新增提示" : "修改提示"
        if (response.code == 200) {
          layer.alert(successAlert, {
            icon: "success",
            skin: "lyear-skin-success",
            title: successTitle,
            closeBtn: 1,
            btn: ["确定", "取消"],
            yes: function (index, layero) {
              layer.close(index);
              if (param.id == -1) {
                $("#myModal2").modal('hide'); //手动关闭
                queryPrizeByAcId(param.acId)
              }
            },
            cancle: function (index, layero) {
              layer.close(index);
            },
          });
        } else {
          layer.alert(response.msg, {
            icon: "error",
            skin: "lyear-skin-danger",
          });
        }
      },
      error: function (xhr, status, error) {
        layer.alert("系统错误", {
          icon: "error",
          skin: "lyear-skin-danger",
          title: "更新提示",
        });
        if (Number(response.code) === -400100) {
          layer.close(index);
          top.location.href = basePath + "/login";
        }
      },
    });


  }

  function queryPrizeByAcId(acId) {
    $.ajax({
      type: "GET",
      url: basePath + "/admin/api/prize/getPrizeDetailsByAcId/" + acId,
      contentType: "application/json",
      headers: {
        Authorization: authorization,
        "Content-Type": "application/json",
      },
      success: function (response) {
        if (response.code == 200) {
          resizePrizeTable(response.data)
        } else {
          layer.alert(response.msg, {
            icon: "error",
            skin: "lyear-skin-danger",
          });
        }
      },
      error: function (xhr, status, error) {
        layer.alert("系统错误", {
          icon: "error",
          skin: "lyear-skin-danger",
          title: "删除提示",
        });
        if (Number(response.code) === -400100) {
          layer.close(index);
          top.location.href = basePath + "/login";
        }
      },
    });
  }

  //删除请求
  function deleteIds(idArray, type) {
    var returnFlag = false;
    var title = "您确定要删除该活动的所有奖项吗？"
    if (type == 1) {
      title = "您确定要删除该奖项吗？";
    }
    var request = {
      ids: idArray
    }

    layer.alert(title, {
      icon: "error",
      skin: "lyear-skin-danger",
      title: "删除提示",
      closeBtn: 1,
      btn: ["确定", "取消"],
      yes: function (index, layero) {
        $.ajax({
          type: "POST",
          url: basePath + "/admin/api/prize/delete",
          data: JSON.stringify(request),
          contentType: "application/json",
          headers: {
            Authorization: authorization,
            "Content-Type": "application/json",
          },
          success: function (response) {
            console.info("返回的code： " + response.code)
            if (response.code == 200) {
              layer.alert("删除成功", {
                icon: "success",
                skin: "lyear-skin-success",
                title: "删除提示",
                closeBtn: 1,
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                  layer.close(index);
                  if (type == 0) {
                    searchList();
                  } else if (type == 1) {
                    //删除tabble对应的tr
                    layer.close(index);
                    var acId = $("#add_ac_id").val()
                    queryPrizeByAcId(acId)
                  }

                },
                cancle: function (index, layero) {
                  layer.close(index);
                },
              });
            } else {
              layer.alert(response.msg, {
                icon: "error",
                skin: "lyear-skin-danger",
              });
            }
          },
          error: function (xhr, status, error) {
            layer.alert("系统错误", {
              icon: "error",
              skin: "lyear-skin-danger",
              title: "删除提示",
            });
            if (Number(response.code) === -400100) {
              layer.close(index);
              top.location.href = basePath + "/login";
            }
          },
        });
      },
      cancle: function (index, layero) {
        layer.close(index);
      },
    });
    return returnFlag
  }



  function getISOTimeMilions(isostring) {
    return new Date(isostring).getTime();
  }

  //ISO时间转换
  function formatISOTime(isoString) {
    // 创建一个 Date 对象
    const date = new Date(isoString);

    // 提取年、月、日、时、分、秒
    const year = date.getFullYear();
    const month = String(date.getMonth() + 1).padStart(2, "0"); // 月份从0开始，需要加1
    const day = String(date.getDate()).padStart(2, "0");
    const hours = String(date.getHours()).padStart(2, "0");
    const minutes = String(date.getMinutes()).padStart(2, "0");
    const seconds = String(date.getSeconds()).padStart(2, "0");

    // 格式化并返回结果
    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
  }

  function setModalsAndBackdropsOrder() {
    var modalZIndex = 1040;
    $('.modal.in').each(function (index) {
      var $modal = $(this);
      modalZIndex++;
      $modal.css('zIndex', modalZIndex);
      $modal.next('.modal-backdrop.in').addClass('hidden').css('zIndex', modalZIndex - 1);
    });
    $('.modal.in:visible:last').focus().next('.modal-backdrop.in').removeClass('hidden');
  }
</script>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-toolbar clearfix">
            <form class="form-inline" action="javascript:void(0)" id="activity">
              <div class="input-group mb-2 mr-2">
                <span class="input-group-addon">活动编码：</span>
                <input type="text" class="form-control" id="code" name="code" value="" placeholder="请输入活动编码或者名称.." />
              </div>
              <div class="input-group mb-2 mr-2">
                <span class="input-group-addon">奖项名称：</span>
                <input type="text" class="form-control" id="prizeName" name="prizeName" value=""
                  placeholder="请输入奖项名称.." />
              </div>

              <div class="input-group mb-2 mr-2" style="margin-left: 20px">
                <button class="btn btn-default mb-2 m-l-5" id="searchButton" type="submit">
                  <i class="mdi mdi-magnify"></i> 搜索
                </button>
                <button class="btn btn-secondary mb-2 m-l-5" type="reset">
                  <i class="mdi mdi-delete"></i> 重置
                </button>
              </div>
            </form>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">活动详情</h4>
                    </div>
                    <div class="modal-body">

                      <ul id="myTabs" class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#userinfo" data-toggle="tab">奖项详情</a></li>
                        <li><a href="#enclosure" data-toggle="tab">奖品详情</a></li>
                      </ul>
                      <div id="myTabContent" class="tab-content p-10">
                        <div class="tab-pane fade active in" id="userinfo">
                          <div class="row">
                            <p class="col-md-4">活动名称：<span id="mod-ac-title" class="label label-success"></span>
                            </p>
                            <p class="col-md-4">活动编码：<span id="mod-ac-code"></span></p>
                            <p class="col-md-4">活动状态：<span class="label label-primary" id="mod-ac-status"></span></p>
                            <p class="col-md-4">活动创建时间： <span id="mod-ac-createTime"></span></p>
                          </div>
                          <h5 class="m-t-15"><strong>奖项信息</strong></h5>
                          <hr />
                          <div class="row">
                            <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal2"
                              id="add-prize-btn"><i class="mdi mdi-plus"> 新增奖项</i> </a>
                            <table class="table table-hover" id="mod-prize-table">
                              <thead style="align-content: center;">
                                <tr>
                                  <th>#</th>
                                  <th>奖项名称</th>
                                  <th>奖品名称</th>
                                  <th>中奖人数</th>
                                  <th>可重复抽取</th>
                                  <th>操作</th>
                                </tr>
                              </thead>
                              <tbody style="align-content: center;">

                              </tbody>
                            </table>
                          </div>

                        </div>
                        <div class="tab-pane fade" id="enclosure">
                          <p>pic</p>
                        </div>

                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" id="mode-cancel" class="btn btn-default" data-dismiss="modal">取消</button>
                      <button type="button" id="mode-confirm" class="btn btn-primary" data-dismiss="modal">确定</button>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title" id="exampleModalLabel">
                        新增/编辑奖项
                      </h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" id="prizeAddForm">
                        <div class="form-group" id="add_prize">
                          <span id="add_prize_id" value="" style="display: none"></span>
                          <span id="add_ac_id" value="" style="display: none"></span>
                          <label class="col-md-3 control-label" for="add_prize_name">奖项名称:</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control disabled" id="add_prize_name" name="add_prize_name"
                              placeholder="请输入奖项名称" />
                          </div>
                        </div>
                        <div class="form-group" id="add_prize_item">
                          <label class="col-md-3 control-label" for="add_code">序号:</label>
                          <div class="col-md-7">
                            <select class="form-control exampleSelect" name="add_prize_item_code"
                              id="add_prize_item_code">
                              <option value="0">自动</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-3 control-label" for="add_prize_num">中奖人数:</label>
                          <div class="col-md-7">
                            <input type="text" class="form-control" id="add_prize_num" name="add_prize_num"
                              placeholder="请输入人数" />
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="col-md-3 control-label" for="add_prize_repeat">重复抽取:</label>
                          <div class="col-md-3" style="margin-top: 7px;">
                            <label class="lyear-switch switch-solid switch-success">
                              <input type="checkbox" checked="false" id="add_prize_repeat">
                              <span></span>
                            </label>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                          </button>
                          <button type="submit" class="btn btn-primary" id="addAndUpdatePrize">
                            确定
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


              <table class="table table-bordered" id="activityTable"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>